<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^api(?:/.*)?$" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="React routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      watchedFiles="web.config;*.js;routes\*.js;models\*.js;config\*.js"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      logDirectory="iisnode"
      loggingEnabled="true"
      devErrorsEnabled="false" />
  </system.webServer>
</configuration>
